body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(18, 17, 17, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.mainsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
}

button {
    background-color: #0e0f10;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #057df5;
}

.error-message {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
}
