body {
    /* background-color: #f8f3f3; */
    background-image: url('./images/backg.jpg');
    margin: 0;
    padding: 0;
}

.mainsection{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 80vh;

}

.mainsection h2{
    color: #fff;
}

form {
    padding: 30px;
    padding-right: 50px;
    background: #E0F4FF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


label {
    display: block;
    margin: 10px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #564e4e;
    border-radius: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 14px;
}

input[type="submit"] {
    background: #09090a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0056b3;
}